{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal-io: {{ title }}</title>
    <link rel="stylesheet" href="{% static '/css/theme.css'%}">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    {% if messages %}
    <div class="container messages-container">
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                <a href="#" class="del-msg">&times;</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        setTimeout(function () {
            var messages = document.querySelectorAll('.messages li');
            messages.forEach(function (message) {
                message.classList.add('hidden');
            });
        }, 3000);

        var deleteLinks = document.querySelectorAll('.del-msg');
        deleteLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                var message = this.parentElement;
                message.classList.add('hidden');
            });
        });
    </script>
    {% endif %}

    <div class="form-container">
        {% block auth %}
        {% endblock auth%}
    </div>
</body>

</html>
